
/*---Logo alignment--*/
.position-img-outer{ height: 85px;  margin: auto; overflow: hidden;margin-bottom: 10px;}
.position-img-outer .position-img-inner{ display: inline-block; position: relative; right: -45%;}
.position-img-outer .position-img-inner .position-img{position: relative;left: -50%; margin-top: 10px; }

/* -------------Layout------------------ */

html body{ height:100%; }
body{margin-top: 125px;}
#features {	text-align: center;}
#features img {	margin: 0 0 20px;}
footer {background: #333;color: #eee;font-size: 11px;padding: 20px;}
footer .push { height:4em;}

/* -----Typography---------------------- */

body {	-webkit-font-smoothing: antialiased;text-rendering: optimizelegibility;}
.well .page-header {margin-top: 0;}
.well .page-header h1 {	margin-top: 0;}
ul.unstyled {list-style: none;	padding: 0;}
.wrapper{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em;}
#bigCallout{margin-bottom: 100px;}

/* ----------Navbar--------------------- */
.navbar{background: #333; }
  
/* -----------carousel--------------- */

#myCarousel {margin-top: 30px;}
.carousel-caption {	font-size: 24px;}

#myCarousel .item { height: 400px; }

#slide1 {background: url('../../images/carousel/carousel_medium_05.jpg') top center no-repeat;}
#slide2 {background: url('../../images/carousel/carousel_medium_02.jpg') top center no-repeat;}
#slide3 {background: url('../../images/carousel/carousel_medium_03.jpg') top center no-repeat;}
#slide4 {background: url('../../images/carousel/carousel_medium_04.jpg') top center no-repeat;}
#slide5 {background: url('../../images/carousel/carousel_medium_01.jpg') top center no-repeat;}
#slide6 {background: url('../../images/carousel/carousel_medium_06.jpg') top center no-repeat;}

/* ---------modal------------------- */
 .modal-content {margin:50px;}
 .modal-content h4  {margin:20px;}
 .modal-content address { margin :20px;}
/* ------------Global Styles------------------- */

.alert {margin-top: 20px;	display: none;}
.well {	margin: 20px 0;}
.tabbable img.thumbnail {	margin: 0 20px 10px 0;}


/* ----------------------------------Media Queries------------------------- */
/* LARGE DESKTOP */
@media (min-width: 1200px) {
#myCarousel .item { height: 500px; }
html body{height: 100%; margin-top: 126px;}
	
#slide1 {background: url('../../images/carousel/carousel_large_01.jpg') top center no-repeat;}
#slide2 {background: url('../../images/carousel/carousel_large_02.jpg') top center no-repeat;}
#slide3 {background: url('../../images/carousel/carousel_large_03.jpg') top center no-repeat;}
#slide4 {background: url('../../images/carousel/carousel_large_04.jpg') top center no-repeat;}
#slide5 {background: url('../../images/carousel/carousel_large_05.jpg') top center no-repeat;}
#slide6 {background: url('../../images/carousel/carousel_large_06.jpg') top center no-repeat;}
}
/* LANDSCAPE PHONE TO PORTRAIT TABLET */
@media (max-width: 767px) {
#myCarousel .item { height: 400px; }
html body{height: 100%; margin-top: 80px;}
	
#slide1 {background: url('../../images/carousel/carousel_small_01.jpg') top center no-repeat;}
#slide2 {background: url('../../images/carousel/carousel_small_02.jpg') top center no-repeat;}
#slide3 {background: url('../../images/carousel/carousel_small_03.jpg') top center no-repeat;}
#slide4 {background: url('../../images/carousel/carousel_small_04.jpg') top center no-repeat;}
#slide5 {background: url('../../images/carousel/carousel_small_05.jpg') top center no-repeat;}
#slide6 {background: url('../../images/carousel/carousel_small_06.jpg') top center no-repeat;}

.carousel-caption {	font-size: 16px;}
.carousel-caption h4 {font-size: 22px; }

}


/* SMARTPHONE Portrait & landscape phone */
@media only screen (min-device-width : 320px) and (max-device-width: 480px) {
#myCarousel .item { height: 350px; }

body{margin-top: 5px;}
	



}



