#myAlbum{background-color: #333;}
#myAlbum {margin: 20px 20px 70px 0px;}

.carousel-caption {font-size: 24px;	text-align: left;}

#myAlbum .item { height: 320px; }

#album1 {background: url('images/k/k1.jpg') top center no-repeat;}
#album2 {background: url('images/k/k2.jpg') top center no-repeat;}
#album3 {background: url('images/k/k3.jpg') top center no-repeat;}
#album4 {background: url('images/k/k4.jpg') top center no-repeat;}
#album5 {background: url('images/k/k5.jpg') top center no-repeat;}
#album6 {background: url('images/k/k6.jpg') top center no-repeat;}
#album7 {background: url('images/k/k7.jpg') top center no-repeat;}
#album8 {background: url('images/k/k8.jpg') top center no-repeat;}
#album9 {background: url('images/k/k9.jpg') top center no-repeat;}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	#myAlbum .item { height: 310px; }
	
#album1 {background: url('images/k/k1.jpg') top center no-repeat;}
#album2 {background: url('images/k/k2.jpg') top center no-repeat;}
#album3 {background: url('images/k/k3.jpg') top center no-repeat;}
#album4 {background: url('images/k/k4.jpg') top center no-repeat;}
#album5 {background: url('images/k/k5.jpg') top center no-repeat;}
#album6 {background: url('images/k/k6.jpg') top center no-repeat;}
#album7 {background: url('images/k/k7.jpg') top center no-repeat;}
#album8 {background: url('images/k/k8.jpg') top center no-repeat;}
#album9 {background: url('images/k/k9.jpg') top center no-repeat;}

.btn { margin: 0px 0px 50px 0;}
	.carousel-caption {font-size: 16px;	}
	
	.carousel-caption h4 {font-size: 22px;	}
	
}

/* Large desktop */
@media (min-width: 1200px) {

	#myAlbum .item { height: 500px; }
	
#album1 {background: url('images/k/k1.jpg') top center no-repeat;}
#album2 {background: url('images/k/k2.jpg') top center no-repeat;}
#album3 {background: url('images/k/k3.jpg') top center no-repeat;}
#album4 {background: url('images/k/k4.jpg') top center no-repeat;}
#album5 {background: url('images/k/k5.jpg') top center no-repeat;}
#album6 {background: url('images/k/k6.jpg') top center no-repeat;}
#album7 {background: url('images/k/k7.jpg') top center no-repeat;}
#album8 {background: url('images/k/k8.jpg') top center no-repeat;}
#album9 {background: url('images/k/k9.jpg') top center no-repeat;}
}

