#myAlbum{background-color: #333;}
#myAlbum {margin: 30px 30px 10px 0px;}
.carousel-caption {font-size: 20px;	text-align: left;}

#myAlbum .item { height: 300px; }

#album1 {background: url('images/f/f1.jpg') top center no-repeat;}
#album2 {background: url('images/f/f2.jpg') top center no-repeat;}
#album3 {background: url('images/f/f3.jpg') top center no-repeat;}
#album4 {background: url('images/f/f4.jpg') top center no-repeat;}
#album5 {background: url('images/f/f5.jpg') top center no-repeat;}
#album6 {background: url('images/f/f6.jpg') top center no-repeat;}
#album7 {background: url('images/f/f7.jpg') top center no-repeat;}
#album8 {background: url('images/f/f8.jpg') top center no-repeat;}
#album9 {background: url('images/f/f9.jpg') top center no-repeat;}
#album10{background: url('images/f/f10.jpg') top center no-repeat;}
#album11{background: url('images/f/f11.jpg') top center no-repeat;}
#album12{background: url('images/f/f12.jpg') top center no-repeat;}
#album13{background: url('images/f/f13.jpg') top center no-repeat;}
#album1 {background: url('images/s/s1.jpg') top center no-repeat;}
#album2 {background: url('images/s/s2.jpg') top center no-repeat;}
#album3 {background: url('images/s/s3.jpg') top center no-repeat;}
#album4 {background: url('images/s/s4.jpg') top center no-repeat;}
#album5 {background: url('images/s/s5.jpg') top center no-repeat;}
#album6 {background: url('images/s/s6.jpg') top center no-repeat;}
#album7 {background: url('images/s/s7.jpg') top center no-repeat;}
#album8 {background: url('images/f/f8.jpg') top center no-repeat;}
#album9 {background: url('images/f/f9.jpg') top center no-repeat;}


/* Large desktop */
@media (min-width: 1200px) {
html body{height: 100%; margin-top: 126px;}
#myAlbum .item { height: 500px;}
#myAlbum{ margin-bottom: 5px;}

	
#album1 {background: url('images/f/f1.jpg') top center no-repeat;}
#album2 {background: url('images/f/f2.jpg') top center no-repeat;}
#album3 {background: url('images/f/f3.jpg') top center no-repeat;}
#album4 {background: url('images/f/f4.jpg') top center no-repeat;}
#album5 {background: url('images/f/f5.jpg') top center no-repeat;}
#album6 {background: url('images/f/f6.jpg') top center no-repeat;}
#album7 {background: url('images/f/f7.jpg') top center no-repeat;}
#album8 {background: url('images/f/f8.jpg') top center no-repeat;}
#album9 {background: url('images/f/f9.jpg') top center no-repeat;}
#album10 {background: url('images/f/f10.jpg') top center no-repeat;}
#album11 {background: url('images/f/f11.jpg') top center no-repeat;}
#album12{background: url('images/f/f12.jpg') top center no-repeat;}
#album13{background: url('images/f/f13.jpg') top center no-repeat;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
html body{height: 100%; margin-top: 80px;}	
#myAlbum .item { height: 400px; }
	
#album1 {background: url('images/f/f1.jpg') top center no-repeat;}
#album2 {background: url('images/f/f2.jpg') top center no-repeat;}
#album3 {background: url('images/f/f3.jpg') top center no-repeat;}
#album4 {background: url('images/f/f4.jpg') top center no-repeat;}
#album5 {background: url('images/f/f5.jpg') top center no-repeat;}
#album6 {background: url('images/f/f6.jpg') top center no-repeat;}
#album7 {background: url('images/f/f7.jpg') top center no-repeat;}
#album8 {background: url('images/f/f8.jpg') top center no-repeat;}
#album9 {background: url('images/f/f9.jpg') top center no-repeat;}
#album10 {background: url('images/f/f10.jpg') top center no-repeat;}
#album11 {background: url('images/f/f11.jpg') top center no-repeat;}
#album12{background: url('images/f/f12.jpg') top center no-repeat;}
#album13{background: url('images/f/f13.jpg') top center no-repeat;}

.btn { margin: 0px 0px 50px 0;}
	.carousel-caption {font-size: 16px;	}
	.carousel-caption h5 {font-size: 20px;	}
}
/* SMARTPHONE Portrait & landscape phone */
@media only screen (min-device-width : 300px) and (max-device-width: 480px) {

#myalbum .item { height: 50px; }

}



