#myAlbum{background-color: #333;}
#myAlbum {margin: 30px 30px 10px 0px;}
.carousel-caption {font-size: 20px;	text-align: left;}

#myAlbum .item { height: 300px; }

#album1 {background: url('images/b/b1.jpg') top center no-repeat;}
#album2 {background: url('images/b/b2.jpg') top center no-repeat;}
#album3 {background: url('images/b/b3.jpg') top center no-repeat;}
#album4 {background: url('images/b/b4.jpg') top center no-repeat;}
#album5 {background: url('images/b/b5.jpg') top center no-repeat;}
#album6 {background: url('images/b/b6.jpg') top center no-repeat;}
#album7 {background: url('images/b/b7.jpg') top center no-repeat;}
#album8 {background: url('images/b/b8.jpg') top center no-repeat;}
#album9 {background: url('images/b/b9.jpg') top center no-repeat;}


/* Large desktop */
@media (min-width: 1200px) {
html body{height: 100%; margin-top: 126px;}
#myAlbum .item { height: 500px;}
#myAlbum{ margin-bottom: 5px;}

#album1 {background: url('images/b/b1.jpg') top center no-repeat;}
#album2 {background: url('images/b/b2.jpg') top center no-repeat;}
#album3 {background: url('images/b/b3.jpg') top center no-repeat;}
#album4 {background: url('images/b/b4.jpg') top center no-repeat;}
#album5 {background: url('images/b/b5.jpg') top center no-repeat;}
#album6 {background: url('images/b/b6.jpg') top center no-repeat;}
#album7 {background: url('images/b/b7.jpg') top center no-repeat;}
#album8 {background: url('images/b/b8.jpg') top center no-repeat;}
#album9 {background: url('images/b/b9.jpg') top center no-repeat;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
html body{height: 100%; margin-top: 80px;}	
#myAlbum .item { height: 400px; }
	
#album1 {background: url('images/b/b1.jpg') top center no-repeat;}
#album2 {background: url('images/b/b2.jpg') top center no-repeat;}
#album3 {background: url('images/b/b3.jpg') top center no-repeat;}
#album4 {background: url('images/b/b4.jpg') top center no-repeat;}
#album5 {background: url('images/b/b5.jpg') top center no-repeat;}
#album6 {background: url('images/b/b6.jpg') top center no-repeat;}
#album7 {background: url('images/b/b7.jpg') top center no-repeat;}
#album8 {background: url('images/b/b8.jpg') top center no-repeat;}
#album9 {background: url('images/b/b9.jpg') top center no-repeat;}
.btn { margin: 0px 0px 50px 0;}
	.carousel-caption {font-size: 16px;	}
	.carousel-caption h5 {font-size: 20px;	}
}
/* SMARTPHONE Portrait & landscape phone */
@media only screen (min-device-width : 300px) and (max-device-width: 480px) {
.page-header h2{margin: 50px;}
#myalbum .item { height: 50px; }

}

